.table{

    background: rgb(0, 0, 0, 0.7);
    border: 3px solid black;
    padding: 10px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10%;
    margin-bottom: auto;
    
}
table{
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
}

body{
    background-image: url(KODI.jpg);
    color: white;
}
p{
    color: white;
}
.topnav {
  overflow: hidden;
  background-color: black;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 1% 10.25%;
  font-size: 120%;
    opacity: 100%;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: white;
    color:black;
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
/*#activity{
    font-size: 100%;
}
form{
  text-align: center;
}
#head{
    font-size: 240%;
    font-style: oblique;
    font-family: sans-serif;
}
#p1{
    font-size: 200%;
}
#date{
    font-size: 200%;
}*/
h1{
        color: white;
    text-align: center;
    font-size: 240%;
    font-style: oblique;
    font-family: sans-serif;
}
form{
  text-align: center;
}
#head{
    font-size: 240%;
    font-style: oblique;
    font-family: sans-serif;
}
#p1{
    font-size: 200%;
}
#date{
    font-size: 200%;
}
#submit{
    font-size: 200%;
}