/*table{
  margin-left:auto; 
  margin-right:auto;
}

.table{
    background-color: aqua;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 10%;
} 
*/
.table{

    background-color: black; 
    opacity: 70%;
    border: 3px solid black;
    padding: 1%;
    width: 20%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 12%;
    margin-bottom: auto;
    
}
table{
    margin-right: auto;
    margin-left: auto;
    padding: 5%;
}

body{
    background-image: url(KODI.jpg);
    
}
#head{
    font-size: 240%;
    text-align: center; 
    font-family: sans-serif;
    font-style: oblique;
    padding: 10%;
    color: white;
}
#username, #password{
    font-size: 240%;
    text-align: center;
    padding: 5%;
    color: white;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}